body, header {
    background-image: url('img3/illustration04-3.png');
    height: 1244px;
    position: relative;
    object-fit: none ;
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Lalezar', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 20px;
    position: center;
}

.frame-2, .frame-3 {
    display: flex;
    position: absolute;
    font-size: 36px;
    font-family: var(--font-lalezar);
    color: #fff;
    text-align: left;
    padding: 150px 150px;
    gap: 65px;
}

.text-wrapper {
    padding: 10px;
    cursor: pointer;
}

.image1 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 196px;
}

.frame-2 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    position: relative;
    
}

.frame-3 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.custom-button1 {
    top: 29%;
    left: 40%;
    position: absolute;
    border-radius: 10px;
    background-color: #b75d2f;
    height: 20px;
    width: 7%;
    border: 1px solid #fff;
    z-index: 10;
}

.custom-button1:hover {
    background-color: #f5c905;
    color: #fff;
    cursor: pointer;
}

.custom-button2 {
    justify-content: center;
    top: 29%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background-color: #2a3a8c;
    height: 20px;
    width: 7%;
    border: 1px solid #fff;
    z-index: 10;
}

.custom-button2:hover {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.contato {
    top: 24%;
    left: 31%;
    position: absolute;
    font-size: 96px;
    font-family: var(--font-lalezar);
    color: #fff;
    text-align: left;
    padding: 150px 150px;
}

.lordizzyn {
    width: 20%;
    top: 51%;
    left: 25%;
    position: absolute;
    overflow: hidden;
}

.losantos {
    width: 20%;
    top: 51%;
    left: 55%;
    position: absolute;
    overflow: hidden;
}

.bia {
    top: 70%;
    left: 22%;
    position: absolute;
    font-size: 40px;
    font-family: var(--font-lalezar);
    color: #fff;
    text-align: justify;
    padding: 150px 150px;
    display: inline-block;
    margin: 0;
    line-height: 58px;
}

.hannah {
    top: 70%;
    left: 52%;
    position: absolute;
    font-size: 40px;
    font-family: var(--font-lalezar);
    color: #fff;
    text-align: justify;
    padding: 150px 150px;
    display: inline-block;
    margin: 0;
    line-height: 58px;
}

.rodape {
    width: 100%;
    position: absolute;
    top: 95%;
    background-color: #000;
    height: 100px;
    padding-top: 50px;
    }

    .texto-sobreposto {
        position: absolute;
        top: 99%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        z-index: 2;
    }

    .texto-sobreposto2 {
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px;
        z-index: 2;
    }